In [2]:
import pandas as pd
csv_h = 'CustomerLoyaltyProgram.csv'
pd.set_option('display.max_rows', 1000)
df = pd.read_csv('CustomerLoyaltyProgram.csv')
print(df)

       Loyalty# First Name Last Name     Customer Name         Country  \
0      837810.0    Abigail     Goris     Abigail Goris          Canada
1      707928.0        Ada    Glaude        Ada Glaude         Germany
2      901442.0        Ada   Staback       Ada Staback          Canada
3      237303.0       Adam     Boner        Adam Boner          Canada
4      348835.0       Adam  Dunnegan     Adam Dunnegan          Canada
...         ...        ...       ...               ...             ...
89945  558505.0    Zackary  Faulknen  Zackary Faulknen   United States
89946  442206.0       Zada  Bleakney     Zada Bleakney  United Kingdom
89947  100339.0      Zenia   Weidert     Zenia Weidert  United Kingdom
89948  220548.0    Zenobia  Marlette  Zenobia Marlette   United States
89949  949511.0       Zina    Kocsis       Zina Kocsis   United States

       Province or State              City   Latitude   Longitude Postal code  \
0       British Columbia      Dawson Creek  55.759627 -120.237662     U5I 4F1
1                 Bremen            Bremen  53.079296    8.801694       28759
2               Manitoba          Winnipeg  49.895136  -97.138374     R2C 0M5
3                Ontario           Sudbury  46.522099  -80.953035     M5V 1G5
4               Manitoba          Winnipeg  49.895136  -97.138374     R2C 0M5
...                  ...               ...        ...         ...         ...
89945           Arkansas       Little Rock  34.746481  -92.289595       72287
89946  Brighton and Hove   Franklin Street  50.834406   -0.124847     BN2 3AL
89947            Reading       Ilkley Road  51.474026   -0.987402     RG4 7BD
89948         California       Los Angeles  34.052234 -118.243685       90101
89949           Colorado  Colorado Springs  38.833882 -104.821363       80925

       ... LoyaltyStatus               Product Line Coupon Response  Count  \
0      ...        Bronze  Computers and Home Office        Coupon 6    1.0
1      ...        Bronze  Computers and Home Office        Coupon 1    1.0
2      ...        Bronze  Computers and Home Office        Coupon 1    1.0
3      ...        Bronze  Computers and Home Office        Coupon 4    1.0
4      ...        Bronze  Computers and Home Office        Coupon 1    1.0
...    ...           ...                        ...             ...    ...
89945  ...          Gold                Photography        Coupon 4    1.0
89946  ...         Elite                Photography        Coupon 1    1.0
89947  ...         Elite                Photography        Coupon 4    1.0
89948  ...         Elite                Photography        Coupon 1    1.0
89949  ...        Silver                Photography        Coupon 4    1.0

      Quantity Sold  Unit Sale Price   Unit Cost     Revenue  \
0               3.0       $1,182.00   $1,004.70   $3,546.00
1               1.0         $434.00     $368.90     $434.00
2               2.0         $201.00     $170.85     $402.00
3               3.0         $757.00     $643.45   $2,271.00
4               2.0         $161.00     $136.85     $322.00
...             ...              ...         ...         ...
89945           2.0              224       190.4         448
89946           6.0              648       550.8        3888
89947           1.0              129      109.65         129
89948           2.0              329      279.65         658
89949           1.0              143      121.55         143

      Customer Lifetime Value Loyalty Count
0                     8842.65           1.0
1                     3508.57           1.0
2                     8044.87           1.0
3                     8660.84           1.0
4                    25464.82           1.0
...                       ...           ...
89945                43290.50           1.0
89946                 6615.82           1.0
89947                 4422.88           1.0
89948                 9416.47           1.0
89949                 3709.92           1.0

[89950 rows x 28 columns]

In [15]:
df['Province or State'].unique()

array(['British Columbia', 'Bremen', 'Manitoba', 'Ontario', 'Thuringen',
       'Reading', 'Saarland', 'New Brunswick', 'Hessen', 'California',
       'Shropshire', 'Nordrhein-Westfalen', 'West Midlands',
       'Brighton and Hove', 'Florida', 'Baden-Wurttemberg', 'Alberta',
       'Nottinghamshire', 'Niedersachsen', 'Oxfordshire', 'Colorado',
       'Hampshire', 'Hamburg', 'Greater London', 'Berlin', 'Bayern',
       'Quebec', 'Georgia', 'Arizona', 'Delaware', 'Connecticut',
       'Alabama', 'Alaska', 'Luton', 'Sachsen', 'Arkansas',
       'Rheinland-Pfalz', 'DC', 'Mecklenburg-Vorpommern', 'Nova Scotia',
       'Saskatchewan', 'Buckinghamshire', 'Newfoundland',
       'Prince Edward Island', 'Sachsen-Anhalt', 'Bristol', 'Yukon',
       'Brandenburg', 'Schleswig-Holstein', nan], dtype=object)

In [21]:
df1 = df[df['Quantity Sold']>2]
print(df1)

       Loyalty# First Name   Last Name       Customer Name         Country  \
0      837810.0    Abigail       Goris       Abigail Goris          Canada
3      237303.0       Adam       Boner          Adam Boner          Canada
6      605640.0      Adell      Maroni        Adell Maroni  United Kingdom
7      723924.0     Adolph        Prey         Adolph Prey         Germany
10     616030.0     Akilah   Caravalho    Akilah Caravalho         Germany
...         ...        ...         ...                 ...             ...
89937  460396.0  Winnifred     Degraaf   Winnifred Degraaf         Germany
89938  472839.0    Yajaira  Korczynski  Yajaira Korczynski         Germany
89939  440440.0   Yessenia    Paganico   Yessenia Paganico   United States
89940  185940.0       Ying      Rennix         Ying Rennix   United States
89946  442206.0       Zada    Bleakney       Zada Bleakney  United Kingdom

            Province or State             City   Latitude   Longitude  \
0            British Columbia     Dawson Creek  55.759627 -120.237662
3                     Ontario          Sudbury  46.522099  -80.953035
6                     Reading      Ilkley Road  51.474026   -0.987402
7                    Saarland      Saarbrucken  49.240157    6.996933
10                     Hessen        Frankfurt  50.110922    8.682127
...                       ...              ...        ...         ...
89937     Nordrhein-Westfalen             Bonn  50.737430    7.098207
89938  Mecklenburg-Vorpommern         Solingen  51.165220    7.067116
89939              California      Los Angeles  34.052234 -118.243685
89940                Colorado           Denver  39.739236 -104.990251
89946       Brighton and Hove  Franklin Street  50.834406   -0.124847

      Postal code  Gender Education Location Code   Income Marital Status  \
0         U5I 4F1    male  Bachelor         Rural  42142.0         Single
3         M5V 1G5  female  Bachelor         Urban  79674.0        Married
6         RG4 7BD  female  Bachelor      Suburban  60642.0        Married
7           66115  female   College      Suburban      0.0        Married
10          60386    male    Doctor         Rural  22886.0       Divorced
...           ...     ...       ...           ...      ...            ...
89937       53121    male  Bachelor      Suburban  70328.0        Married
89938       42697  female  Bachelor         Urban  32799.0       Divorced
89939       90203  female  Bachelor         Rural  69668.0        Married
89940       80287  female  Bachelor         Urban  48602.0        Married
89946     BN2 3AL    male  Bachelor         Urban  90414.0        Married

       Order Year Quarter  MonthsAsMember LoyaltyStatus  \
0          2016.0      Q3            33.0        Bronze
3          2016.0      Q3            55.0        Bronze
6          2016.0      Q3            50.0         Elite
7          2016.0      Q3            65.0        Bronze
10         2016.0      Q3            58.0        Bronze
...           ...     ...             ...           ...
89937      2019.0      Q1            41.0        Silver
89938      2019.0      Q1            53.0         Elite
89939      2019.0      Q1            52.0         Elite
89940      2019.0      Q1            53.0         Elite
89946      2019.0      Q1            64.0         Elite

                    Product Line Coupon Response  Count  Quantity Sold  \
0      Computers and Home Office        Coupon 6    1.0            3.0
3      Computers and Home Office        Coupon 4    1.0            3.0
6      Computers and Home Office        Coupon 4    1.0            5.0
7      Computers and Home Office        Coupon 3    1.0            5.0
10     Computers and Home Office        Coupon 1    1.0            3.0
...                          ...             ...    ...            ...
89937                Photography        Coupon 1    1.0            6.0
89938                Photography        Coupon 4    1.0            3.0
89939                Photography        Coupon 2    1.0            4.0
89940                Photography        Coupon 2    1.0            5.0
89946                Photography        Coupon 1    1.0            6.0

      Unit Sale Price   Unit Cost     Revenue  Customer Lifetime Value  \
0          $1,182.00   $1,004.70   $3,546.00                   8842.65
3            $757.00     $643.45   $2,271.00                   8660.84
6            $686.00     $583.10   $3,430.00                  10660.90
7          $1,256.00   $1,067.60   $6,280.00                  14585.38
10         $1,187.00   $1,008.95   $3,561.00                   5096.67
...               ...         ...         ...                      ...
89937             283      240.55        1698                  6746.43
89938             578       491.3        1734                  8169.75
89939             134       113.9         536                  5671.09
89940             182       154.7         910                  5616.85
89946             648       550.8        3888                  6615.82

       Loyalty Count
0                1.0
3                1.0
6                1.0
7                1.0
10               1.0
...              ...
89937            1.0
89938            1.0
89939            1.0
89940            1.0
89946            1.0

[45936 rows x 28 columns]

In [5]:
dict= {'a':[11,21,31],'b':[12,22,32]}
df = pd.DataFrame(dict)
df.head()
df.mean()

a    21.0
b    22.0
dtype: float64

In [7]:
import requests

In [13]:
url = 'http://httpbin.org/get'
payload = {'name':'Joseph','ID':'123'}
r = requests.get(url,params = payload)
r.request.body

In [14]:
from bs4 import BeautifulSoup

In [23]:
import xml.etree.ElementTree as ET
tree = ET.fromstring('<data>
    <country name="Liechtenstein">
        <rank>1</rank>
        <year>2008</year>
        <gdppc>141100</gdppc>
        <neighbor name="Austria" direction="E"/>
        <neighbor name="Switzerland" direction="W"/>
    </country>
    <country name="Singapore">
        <rank>4</rank>
        <year>2011</year>
        <gdppc>59900</gdppc>
        <neighbor name="Malaysia" direction="N"/>
    </country>
    <country name="Panama">
        <rank>68</rank>
        <year>2011</year>
        <gdppc>13600</gdppc>
        <neighbor name="Costa Rica" direction="W"/>
        <neighbor name="Colombia" direction="E"/>
    </country>
</data>')
root = tree.getroot()

SyntaxError: unterminated string literal (detected at line 2) (3412675289.py, line 2)

In [1]:
# importing pandas as pd
import pandas as pd

# Creating the index
idx = pd.Index(['Melbourne', 'Sanghai', 'Lisbon', 'Doha', 'Moscow', 'Rio'])

# Print the index
print(idx)

Index(['Melbourne', 'Sanghai', 'Lisbon', 'Doha', 'Moscow', 'Rio'], dtype='object')